<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Select collection</h3>
</div>
<div class="modal-body" id="modal-body">
    <div>
        <script type="text/ng-template" id="nodes_renderer.html">
            <div class="tree-node tree-node-content">
                <a class="btn btn-success btn-xs" ng-if="node.items && node.items.length > 0" data-nodrag ng-click="toggle(this)"><span
                class="glyphicon"
                ng-class="{
                'glyphicon-chevron-right': collapsed,
                'glyphicon-chevron-down': !collapsed
                }"></span></a>
                <span class="">{{node.title}}</span>
                <button class="btn btn-primary pull-right" ng-click="select(node)">Select</button>
            </div>
            <ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
                <li ng-repeat="node in node.items" ui-tree-node ng-include="'nodes_renderer.html'">
                </li>
            </ol>
        </script>
        <div class="row">
            <div class="col-md-12">
                <div ui-tree id="tree-root">
                    <ol ui-tree-nodes ng-model="data">
                        <li ng-repeat="node in list" ui-tree-node ng-include="'nodes_renderer.html'"></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-danger" type="button" ng-click="cancel()">Cancel</button>
</div>
