<h2>Collections</h2>

<form>
    <div class="input-group">
        <input class="form-control" type="text" ng-model="newCollectionName" placeholder="New collection name" />
        <span class="input-group-btn">
            <button class="btn btn-success" ng-click="newCollection()" type="button" ng-disabled="currentCollection == {}"><i class="fa fa-plus" aria-hidden="true"></i></button>
        </span>
    </div>
</form>

<h3>
    <span ng-repeat="collection in getCollectionPath() track by $index">/<span ng-click="openCollection(collection._id||collection._id)" class="clickable">{{collection.name}}</span></span>
</h3>

<p>
    currentCollection: {{currentCollection}}
</p>

<div class="collection-container">
    <div ng-if="currentCollection.parent" class="collection-item">
        <div ng-if="item.type!=='image'" class="folder" ng-click="openCollection(currentCollection.parent)">
            <img src="./images/folder-black.png" />
            <p class="collection-name">
                ..
            </p>
        </div>
    </div>
    <div class="collection-item" ng-repeat="item in getCurrentCollection().items track by $index">
        <img ng-if="item.type=='image'" src="{{item._id}}" ng-click="openImage(item._id)" />
        <div ng-if="item.type!=='image'" class="folder" ng-click="openCollection(item._id||item.id)">
            <img src="./images/folder-black.png" />
            <p class="collection-name">
                {{item.name}}
            </p>
        </div>
        <p class="clickable" ng-click="delete(item._id||item.id)">
            delete collection
        </p>
        <p class="clickable" ng-click="delete(item._id||item.id, true)">
            delete collection and children
        </p>
    </div>
</div>
