img{
    max-width: 300px;
    max-height: 300px;
    min-width: 100px;
    min-height: 50px;
    cursor: pointer;
}

img.selected{
    border: solid green 4px;
}

.image{
    flex-grow: 1;
    flex-shrink: 1;
}

.image-container {
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
	justify-content: space-between;
    padding: 15px;
}
