.page-container{
    overflow: inherit; /* Override the overflow as sticky doesn't work with it */
}

.sticky-button-bar{
    position: sticky;
    top: 65px;
    z-index: 100;
}

img{
    cursor: pointer;
    max-height: 300px;
    max-width: 300px;
    min-height: 50px;
    min-width: 100px;
}

.selected img{
    border: solid green 4px;
}

.image{
    flex-grow: 1;
    flex-shrink: 1;
}

.image-container {
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
	justify-content: space-between;
    padding: 15px;
}
