img{
    max-width: 300px;
    max-height: 300px;
    min-width: 100px;
    min-height: 50px;
    cursor: pointer;
}

/* Hovering over the .image-active class triggers the annimation. */
/* The style here is the end style. */
.image-active-zone:hover .button-container{
    opacity: 1;
    transition-timing-function: ease-out;
    transition: 0.4s;
}

/* This is the initial starting style. */
.button-container{
    position:absolute;
    top: 10px;
    right: 10px;
    opacity: 0;
    transition-timing-function: ease-in;
    transition: 0.4s;
}

img.selected{
    border: solid green 4px;
}

.image-active-zone{
    position: relative;
    display: inline-block;
}

.image{
    flex-grow: 1;
    flex-shrink: 1;
}

.image-container {
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
	justify-content: space-between;
    padding: 15px;
}
