img{
    max-width: 300px;
}

.gallery-container{
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
	justify-content: space-between;
}

.gallery-image{
    flex-grow: 1;
    flex-shrink: 1;
    padding: 4px;
    cursor: pointer;
}
