<h2>Process</h2>
<div class="well sticky-button-bar">
    <div class="pull-right">
        <button class="btn btn-default" title="Select All" ng-click="selectAll()"><i class="fa fa-check-circle-o" aria-hidden="true"></i></button>
        <button class="btn btn-default" title="Select None" ng-click="selectNone()"><i class="fa fa-times-circle-o" aria-hidden="true"></i></button>
        <button class="btn btn-default" title="Invert Selection" ng-click="invertSelection()"><i class="fa fa-exchange" aria-hidden="true"></i></button>
    </div>
    <div>
        <button class="btn btn-primary" ng-click="openTagManager(selectedImages)" ng-disabled="!selectedCount">Add tags</button>
        <button class="btn btn-primary" ng-click="saveSelected()" ng-disabled="!selectedCount">Save selected</button>
    </div>
</div>
<div>
    <button ng-click="getPreviousPage()" ng-disabled="!enablePreviousPage() || loading()" class="btn btn-default">Previous</button>
    <button ng-click="getNextPage()" ng-disabled="!enableNextPage() || loading()" class="btn btn-default">Next</button>
    <p ng-if="loading()">
        Loading...
    </p>
</div>
<div class="alert alert-danger" ng-if="error">
    <strong>Error!</strong> {{error}}
</div>

<nav aria-label="Page navigation">
    <ul class="pagination">
        <li>
            <a class="clickable" aria-label="Previous" ng-disabled="!hasPrevious" ng-click="getPreviouse()">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
            <li ng-repeat="page in pageArray"><a ng-if="page == currentPage" aria-label="Page {{page}}">*{{page}}*</a><a ng-if="page != currentPage" aria-label="Page {{page}}">{{page}}</a></li>
        <li>
            <a class="clickable" aria-label="Next" ng-disabled="!hasNext" ng-click="getNext()">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
<div class="image-container">
    <div ng-repeat="image in currentImages" class="image">
        <div class="image-active-zone">
            <img ng-class="{'selected':selectedImages[image._id]}" ng-src="{{image._id}}" ng-click="selectImage(image)" />
            <div class="image-buttons">
                <button class="btn btn-danger" ng-click="deleteImage(image)">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                </button>
                <button class="btn btn-primary" ng-click="openTagManager([image])">
                    <i class="fa fa-tags" aria-hidden="true"></i>
                </button>
                <button class="btn btn-warning" ng-click="addItemToCollection(image._id)">
                    <i class="fa fa-folder-open" aria-hidden="true"></i>
                </button>
            </div>
        </div>
        <p>
            {{image.doc.tags.join(' ')}}
        </p>
    </div>
</div>
<nav aria-label="Page navigation">
    <ul class="pagination">
        <li>
            <a class="clickable" aria-label="Previous" ng-disabled="!hasPrevious" ng-click="getPreviouse()">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
            <li ng-repeat="page in pageArray"><a ng-if="page == currentPage" aria-label="Page {{page}}">*{{page}}*</a><a ng-if="page != currentPage" aria-label="Page {{page}}">{{page}}</a></li>
        <li>
            <a class="clickable" aria-label="Next" ng-disabled="!hasNext" ng-click="getNext()">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
